@import "tailwindcss";

:root {
  --background: #030303;
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
  background: var(--background);
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #ef4444;
  color: #ffffff;
}

.noise {
  background-image: radial-gradient(rgba(255,255,255,0.08) 1px, transparent 1px);
  background-size: 4px 4px;
}

.red-grid {
  background-image: linear-gradient(to right, rgba(255,255,255,0.055) 1px, transparent 1px), linear-gradient(to bottom, rgba(255,255,255,0.055) 1px, transparent 1px);
  background-size: 72px 72px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
